@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100&display=swap');

.App {
  text-align: center;
  margin: 0%;
}

body {
  margin: 0px;
}

.App h1 {
  font-family: 'Raleway', sans-serif;
}

.App p {
  font-family: 'Roboto', sans-serif;
}

.App h3 {
  font-family: 'Roboto', sans-serif;
}

.App button,
li {
  font-family: 'Raleway', sans-serif;
}