.headerContainer {
    margin: 0% 4% 4% 4%;
    padding: 5.5%;
    background-image: linear-gradient(to right, rgb(2, 37, 64, 0.8) 0%, rgb(2, 37, 64, 0) 100%), url('/Users/rayataji/Documents/GitHub/TMDB-Clone/client/src/Images/221219142122-01-puss-in-boots-the-last-wish-film.jpeg');
    background-size: cover;
}

.heading {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: white;
    font-size: 45px;
    text-align: left;
}

.sentence {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: white;
    font-size: 35px;
    text-align: left;
}

.submitButton {
    padding: 10px 26px;
    margin-left: -50px;
    border: none;
    align-items: center;
    background: linear-gradient(to right, rgba(30, 213, 169) 0%, rgba(1, 180, 228) 100%);
    border-radius: 30px;
    color: #fff;
}

.submitButton:hover {
    color: black;
}