.landingImage {
    background: linear-gradient(to right, rgb(2, 37, 64, 0.8) 0%, rgb(2, 37, 64, 0) 100%), url('/Users/rayataji/Documents/GitHub/TMDB-Clone/client/src/Images/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
}

.hi {
    height: 300px;
}

.titleContainer {
    text-align: left;
    color: white;
}

.titleContainer button {
    padding: 10px;
    cursor: pointer;
}