.mainContainer {
    margin: 0%;
    padding: 20px;
    background-color: rgb(2, 37, 64);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuContainer ul {
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logoContainer {
    width: 100px;
    height: 10px;

}

.menuContainer li {
    color: white;
    list-style: none;
    padding: 0 20px;
}





.menuContainer button {
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}